.THIS .slds-card {
	background-color: rgb(253, 253, 253);
	border-radius: 0em;
	border-width: 0em;
}

.THIS .slds-card__header {
	background-color: rgb(244, 246, 249);
}

.THIS .slds-card__header {
	padding-bottom: 0.85em;
}

.THIS.has-records {
	min-height: 20em;
}